doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/admin.css')
		link(rel='icon', type='image/png', href='/images/icon.png')
	body
		h1 BY30 Administration Panel
		p Select a section in order to start editing
		.panel-group#accordion
			.panel.panel-default
				.panel-heading
					h4.panel-title#about-section-title
						a(data-toggle='collapse', data-parent='#accordion', href='#about-section') About
						span.notification.glyphicon.glyphicon-ok.saved.pull-right
						span.notification.glyphicon.glyphicon-warning-sign.modified.pull-right
						span.notification.glyphicon.glyphicon-exclamation-sign.error.pull-right
				.panel-collapse.collapse#about-section
					.panel-body
						#about-section-edit.section-edit(notification-area='#about-section-title', section='about')
							- for item in aboutData
								.editable-group
									- if (item.type == 'h2')
										h2.heading.editable(contenteditable) #{item.content}
										span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
									- else
										p.content.editable(contenteditable) #{item.content}
										span.glyphicon.glyphicon-remove-circle.pull-right.remove-button
						.section-controls(for='#about-section-edit')
							.btn.btn-default.editable-section-control.btn-add-heading
								span.glyphicon.glyphicon-plus
								span.btn-content Heading
							.btn.btn-default.editable-section-control.btn-add-paragraph
								span.glyphicon.glyphicon-plus
								span.btn-content Paragraph
							.btn.btn-success.editable-section-control.btn-save.pull-right
								span.glyphicon.glyphicon-save.btn-icon
								span.btn-content Save
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#speakers-section') Speakers
				.panel-collapse.collapse#speakers-section
					.panel-body
						p This is awesome too
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#venue-section') Venue
				.panel-collapse.collapse#venue-section
					.panel-body
						p This is awesome too venue
			.panel.panel-default
				.panel-heading
					h4.panel-title
						a(data-toggle='collapse', data-parent='#accordion', href='#team-section') Team
				.panel-collapse.collapse#team-section
					.panel-body
						p This is awesome too team

	script(src='/javascripts/jquery.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/admin/main.js')