extends layout

block content	
	section.page.home#home
		.nav-wrapper
		nav.navbar.navbar-default(role='navigation')
					ul.nav.navbar-nav.pull-left
						li: a(href='#home'): span(href='#home') Home
						li: a(href='#about'): span(href='#about') About
						li: a(href='#speakers'): span(href='#speakers') Speakers
					ul.nav.navbar-nav.pull-right
						li: a(href='#venue'): span(href='#venue') Venue
						li: a(href='#team'): span(href='#team') Team
						li: a(href='#contact'): span(href='#contact') Contact
					.navbar-header.centre
						a.navbar-brand(href='/')
		.title-top
			h1 IDEAS WORTH SHARING
			h1 PEOPLE WORTH KNOWING
		.title-bottom
			span.big-number THREE
			span.medium-text influential speakers
			span.big-number.gray THIRTY
			span.medium-text.gray minutes each
	section.page.about#about
		.content
			h1.normal What's all this about?
			p BY30 is drawing inspirational speakers from around the country to Manchester's coolest basement bar, 2022nq (Dale Street, Norther Quarter).
			p We have three speakers at each event who each speak for thirty minutes, offering a totally new way of giving talks. What do they talk about? Architecture, art, music, design, social issues, the future, the past, the present… whatever they deem to be inspirational!
			p Come along, stay for a drink after, meet like minded people, be part of a fresh way of listening to talks. BY30 is open to students, professionals - anyone who's curious.
			p We run on the last Tuesday of the month (during university term time). Doors open at 5.30 for a 6pm start and the talks are finished by 8pm.
			p We work in collaboration with the Manchester Student Society of Architecture (MSSA) and Article25, and are very kindly sponsored by the international architectural practice BDP., who are headquartered just down the road. It's free!
	section.page.speakers#speakers
		.speakers-header
			h1.big-text Speakers
		.content
			.session.container-fluid
				h1.session-date October 2013
				.col-md-4.column
					.cover
					h1.tile-title Alex Haw
					.tile
					img.speaker(src='images/speakers/oct2013/alex_haw.jpg')
				.col-md-4.column
					.cover
					h1.tile-title Ben Street
					.tile
					img.speaker(src='images/speakers/oct2013/ben_street.jpg')
				.col-md-4.column
					.cover
					h1.tile-title Irena Bauman
					.tile
					img.speaker(src='images/speakers/oct2013/irena_bauman.jpg')
			.session.container-fluid
				h1.session-date November 2013
				.col-md-4.column
					.cover
					h1.tile-title Jeremy Till
					.tile
					img.speaker(src='images/speakers/nov2013/jeremy_till.jpg')
				.col-md-4.column
					.cover
					h1.tile-title Nicola Read
					.tile
					img.speaker(src='images/speakers/nov2013/nicola_read.jpg')
				.col-md-4.column
					.cover
					h1.tile-title Jonathan Foyle
					.tile
					img.speaker(src='images/speakers/nov2013/jonathan_foyle.jpg')
	section.page.venue#venue
		.venue-header
			h1.big-text Venue
		.content
			h1.normal The Engine House
			p The Engine House is a unique space inside one of Manchester’s oldest mill buildings. The high-quality conversion combines original architectural features, modern facilities and even Burgess’s own furniture and musical instruments to create a distinctive location for your event.
			p Established as a welcoming and professional venue we have recently hosted performances with: Manchester Camerata, Psappha, Euros Childs, Ethan Johns, Liam Frost, Momus and Outfit; readings by Iain Sinclair, Chuck Palahniuk, Jonathan Meades and Simon Armitage; conferences, workshops and away-days for Manchester Metropolitan University, Manchester City Council, The Audience Agency and the Performing Arts Network and Development Agency, plus featured as a venue for the Manchester Literature Festival, Manchester Science Festival and Manchester Comedy Festival.
	section.page.team#team
		.content
			h1.normal The Team
			p The Engine House is a unique space inside one of Manchester’s oldest mill buildings. The high-quality conversion combines original architectural features, modern facilities and even Burgess’s own furniture and musical instruments to create a distinctive location for your event.
			p Established as a welcoming and professional venue we have recently hosted performances with: Manchester Camerata, Psappha, Euros Childs, Ethan Johns, Liam Frost, Momus and Outfit; readings by Iain Sinclair, Chuck Palahniuk, Jonathan Meades and Simon Armitage; conferences, workshops and away-days for Manchester Metropolitan University, Manchester City Council, The Audience Agency and the Performing Arts Network and Development Agency, plus featured as a venue for the Manchester Literature Festival, Manchester Science Festival and Manchester Comedy Festival.
	section.page.contact#contact
		.content
			h1.normal Contact Us
			p The Engine House is a unique space inside one of Manchester’s oldest mill buildings. The high-quality conversion combines original architectural features, modern facilities and even Burgess’s own furniture and musical instruments to create a distinctive location for your event.
			p Established as a welcoming and professional venue we have recently hosted performances with: Manchester Camerata, Psappha, Euros Childs, Ethan Johns, Liam Frost, Momus and Outfit; readings by Iain Sinclair, Chuck Palahniuk, Jonathan Meades and Simon Armitage; conferences, workshops and away-days for Manchester Metropolitan University, Manchester City Council, The Audience Agency and the Performing Arts Network and Development Agency, plus featured as a venue for the Manchester Literature Festival, Manchester Science Festival and Manchester Comedy Festival.
	section.page.footer
		.content
			.container-fluid.inline-block
				.col-md-3.partners
					h4 Partners
					img.logo(src='images/logo/mssa.png')
					img.logo(src='images/logo/msa.png')
				.col-md-3.sponsors
					h4 Sponsors
					img.logo(src='images/logo/bdp.png')
				.col-md-3
				.col-md-3
					h4 Copyright