doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
		link(rel='icon', type='image/png', href='/images/icon.png')
	body
		.fb-root
		script(src='/javascripts/fbplugin.js')

		block content

	script(src='/javascripts/jquery.js')
	script(src='/javascripts/bootstrap.min.js')
	script(src='/javascripts/arctext.js')
	script(src='/javascripts/init.js')
	script(src='/javascripts/analytics.js')