body {
	margin: 0px;
	padding: 50px;
	height: 100%;
	overflow-y: scroll;
	background: #f5f5f5;
}

.hidden {
	display: none;
}

.centre {
	text-align: center;
}

.centre-container {
	position: relative;
	margin: 5px 0px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

.notification {
	margin-left: 10px;
}

.saved {
	color: #5cb85c;
}

.modified {
	color: #f0ad4e;
}

.error {
	color: #d9534f;
}

.danger {
	border: 1px solid #d9534f !important;
	padding: 9px !important;
}

.saved, .modified, .error {
	display: none;
}

.section-controls {
	position: relative;
	width: 100%;
	text-align: center;
}

.btn-content {
	margin-left: 10px;
}

.editable-section-control {
	margin: 0 2px;
}

span.glyphicon.remove-button {
	position: absolute;
	font-size: 25px;
	top: -7px;
	right: -7px;
	display: none;
	color: #d9534f;
	cursor: pointer;
}

.editable {
	position: relative;
	cursor: text;
	padding: 10px;
	word-wrap: break-word;
	word-break: break-all;
}

.editable-group {
	position: relative;
	width: 100%;
}


.editable-group:hover > .editable {
	background-color: #ffffc8;
	border: 1px dotted #888;
	padding: 9px;
}

.editable-group:hover > span.glyphicon.remove-button {
	display: block;
}

.text-data .heading, .text-data .content {
	position: relative;
	margin: 10px 0px;
	padding: 10px;
}

.team-member-data,
.speaker-data,
.session-data {
	position: relative;
	display: inline-block;
	width: 100%;
	clear: both;
	padding: 10px;
}

.team-member-data:hover,
.session-data:hover {
	border: 1px dotted #888;
	background-color: #ffffc8;
	padding: 9px;
}

.team-member-data .member-info,
.team-member-data .member-photo,
.speaker-data .speaker-info,
.speaker-data .speaker-photo {
	position: relative;
	float: left;
	margin-right: 20px;
}

.team-member-data .member-info .heading,
.team-member-data .member-info .content,
.speaker-data .speaker-info .heading,
.speaker-data .speaker-info .content {
	margin: 0px;
	padding: 5px 10px;
}

.team-member-data .member-info .editable-group:hover > .editable,
.speaker-data .speaker-info .editable-group:hover > .editable {
	padding: 4px 9px;
}

.member-info .editable,
.speaker-info .editable {
	max-width: 1000px;
}

.session-data {
	margin-bottom: 20px;
}

img.preview {
	position: relative;
	width: 100px;
	height: 100px;
	border-radius: 200px;
	background: #ddd
}

img.btn-add-photo {
	cursor: pointer;
}

.member-info h2 {
	margin-top: 0px;
}