body {
	margin: 0px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-color: #f6ede2;
	height: 100%;
}

a {
	color: #00B7FF;
}

/********************
 * NAVIGATION STYLE *
 ********************/

nav {
	background-color: transparent !important;
	border: none !important;
	padding: 0px 50px;
	//margin-top: 15px;
}

nav a {
	font-family: "Helvetica";
	text-transform: uppercase;
}

nav a.navbar-brand {
	font-size: 25px;
	color: red !important;
}

/**************************/

.centre {
	display: inline-block;
	position: absolute;
	height: 50%;
	width: 100%;
	top: 50%;
	/*left: 50%;*/
	margin-top: -270px;
	/*margin-left: -200px;*/
}

.logo {
	height: 400px;
	background: url('../images/main.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400px;
}

.title-line {
	font-family: "Helvetica";
	letter-spacing: 0px;
	text-align: center;
	font-size: 18px;
	width: 100%;
	color: #666;
}