@font-face {
    font-family: "Helvetica Special";
    src: url("../fonts/HelveticaNeueLTStd-LtCn.woff") format('woff');
}

body {
	margin: 0px;
	font-family: "Helvetica Special";
	height: 100%;
	overflow-y: scroll;
	background: #f5f5f5;
	text-align: center;
}

.nav-wrapper {
	position: absolute;
	display: inline-block;
	top: 0px;
	max-width: 1292px;
	width: 100%;
	left: 0;
	right: 0;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	background: #111;
	opacity: .3;
	z-index: 100;
	-webkit-transition-duration: 1s;
}

nav {
	position: absolute;
	display: inline-block;
	top: 0px;
	max-width: 1292px;
	width: 100%;
	left: 0;
	right: 0;
	margin: 0 auto;
	margin-left: auto;
	margin-right: auto;
	z-index: 101;
	padding-top: 24px; 
	padding-bottom: 24px;
	background: transparent !important;
	border-radius: 0px !important;
	border: none !important;
	-webkit-transition-duration: 1s;
}

.centre {
	text-align: center !important;
}

nav {
	padding-top: 0px;
}

.navbar-header {
	margin-left: auto;
	margin-right: auto;
	float: none;
	width: 60px;
	height: 60px;
	padding: 10px;
	margin-top: -40px !important;
}

.navbar-header a {
	width: 84px;
	height: 84px;
	background: url('../images/cream.png');
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: -32px;
	margin-top: 12px;
}

.nav li {
	padding: 24px 45px;
}

.nav li a, .nav li a span {
	font-family: "Helvetica Special" !important;
	font-size: 20px;
	text-transform: uppercase;
	color: #ccc !important;
}

.nav li a:hover > span {
	color: #fff !important;
	border-bottom: 2px solid #fff;
}

.page {
	position: relative;
	display: inline-block;
	max-width: 1292px;
	width: 100%;
	margin: 0 auto;
	margin-right: auto;
	margin-left: auto;
	text-align: left;
}

.home {
	background: url('../images/home.jpg');
	background-repeat: no-repeat;
	background-size: 1292px;
	height: 700px;
	margin: 0px;
}

.about {
	margin: 0px;
	background: #F5EBE1;
	padding: 50px 80px;
	font-size: 30px;
}

.speakers {
	margin: 0px;
	background: #FFD7E1;
}

.speakers .content {
	padding: 50px 80px;
	font-size: 30px;
	color: #333;
}

.section-header {
	padding: 30px 80px;
	background: url('../images/buttons.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	height: 363px;
	color: #F5EBE1;
}

.page h1.normal {
	font-family: "Helvetica Special";
	font-size: 80px;
}

.session {
	height: 200px;
	width: 100%;
	margin-bottom: 30px;
}

.session *{
	font-family: "Helvetica Special";
}

.session p {
	position: relative;
	top: 50%;
	margin: 0px;
	padding: 0px;
	margin-top: -15px;
	width: 100%;
	line-height: 30px;
}

.tile {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin-right: auto;
	margin-left: auto;
	width: 200px;
	height: 200px;
	background-position: center;
	border-radius: 200px;
	border: 5px solid #fff;
}

.column {
	height: 200px;
}

#alexhaw {
	background: url('../images/speakers/oct2013/alex_haw.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	height: 100%;
	display: inline-block;
	border-radius: 10000px;
}

.big-text {
	font-family: "Helvetica Special";
	font-size: 120px;
	margin: 0px;
	/*text-shadow: 6px 6px 3px #000;*/
	color: #F5EBE1;
}

.title-top {
	position: absolute;
	top: 160px;
	left: 590px;
	text-align: right;
	padding-right: 120px;
	color: #F5EBE1;
	opacity: .8;
}

.title-top h1 {
	font-family: "Helvetica Special" !important;
	font-size: 60px;
}

.title-bottom {
	position: absolute;
	top: 530px;
	left: 450px;
}

.big-number {
	font-family: "Helvetica Special" !important;
	font-weight: bold;
	font-size: 60px;
	color: #F5EBE1 !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	opacity: .2;
}

.medium-text {
	font-family: "Helvetica Special" !important;
	font-size: 40px;
	color: #F5EBE1 !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	opacity: .2;
}